body,
html {
    background-color: rgb(21, 56, 47);
    color: #f3e99f;
}

header {
    font-size: 4em;
    text-align: center;
    margin-top: 50px;
}

header p {
    font-size: 14px;
}

.hangmanCenter {
    width: 300px;
    padding: 30px;
    margin: 0 auto;
}

.hangmanLeft {
    float: left;
    margin-left: 25%;
}

.wordRight {
    width: 500px;
    float: right;
    margin: 5% 25% 0 0;
}

#guessesRemaining,
#category {
    font-size: 25px;
}

img {
    width: 300px;
}

#word {
    text-align: center;
    font-size: 3em;
}

button {
    font-size: 24px;
    margin: 0 auto;
}

#letters {
    width: 100%;
    text-align: center;
    float: left;
    font-size: 1.6em;
}

#letters button {
    width: 40px;
}

#lettersRemaining {
    width: 100%;
    text-align: center;
    font-size: 1.6em;
    float: left;
    text-decoration: underline;
}

#newGame {
    float: left;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

#btnNewGame {
    margin-top: 30px;
}

.redWhite {
    background-color: red;
    color: white;
}

#countries,
#flowers,
#legal,
#temporal {
    visibility: hidden;
    margin: 10px;
    width: 130px;
}